* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
}
.navbar {
  background-color: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb188 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}
.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #f77062;
  color: #fff;
}
.button:hover {
  background: rgb(84, 23, 206);
  transition: all 0.3s;
}

.navbar__links:hover {
  color: #f77062;
  transition: all 0.2s ease;
}

.main {
  background-color: #141414;
}
.main__container {
  display: grid;
  grid-template-columns: lfr lfr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: #141414;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
  background-image: url(images/10.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 50%;
}

.main__content h1 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  padding: 0;
}
.main__content h2 {
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  padding: 0;
}
.main__content p {
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  padding-left: 10px;
}
.main__btn {
  font-size: 1rem;
  padding: 14px 32px;
  margin-top: 15px;
  background-image: linear-gradient(to top, #f77962 0%, #fe5199 100%);
  border: none;
  border-radius: 5px;
  color: white;
  position: relative;
  transition: all 0.35 ease-in-out;
}

.main__btn a {
  text-decoration: none;
  position: relative;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  z-index: 2;
}
.main__btn::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all 0.3s;
  border-radius: 4px;
  background: linear-gradient(to right, #67f17e 0%, #07d7e2 0%, #0ac028 100%);
}

.main__btn:hover {
  color: white;
}
.main__btn:hover::after {
  width: 100%;
}

/* services */

.services {
  background-color: #141414;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.services h1 {
  background-color: #ff8177;
  background-image: linear-gradient(
    to right,
    #ecc3ff 0%,
    #c352f8 0%,
    #bb35f9 0%,
    #f95528 0%,
    #21d4fd 100%
  );
  margin-top: 5rem;
  background-size: 100%;
  margin-bottom: 5rem;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.services__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.services__card {
  margin: 1rem;
  height: 525px;
  width: 400px;
  border-radius: 4px;
  background-image: linear-gradient(
      to bottom,
      rgba(43, 43, 43, 0) 0%,
      rgba(20, 20, 20, 0.6) 100%
    ),
    url(images/pic3.jpg);
  background-size: cover;
  position: relative;
  color: white;
  border-radius: 10px;
}
.services__card:nth-child(2) {
  background-image: linear-gradient(
      to bottom,
      rgba(210, 210, 210, 0) 0%,
      rgba(199, 192, 192, 0.6) 100%
    ),
    url(images/pic4.jpg);
}
.services h2 {
  position: absolute;
  top: 350px;
  left: 30px;
  font-weight: bold;
}
.services__card p {
  position: absolute;
  top: 400px;
  left: 30px;
}
.services__card button {
  color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #f77062;
  position: relative;
  top: 440px;
  left: 30px;
  font-size: 1rem;
  cursor: pointer;
  transform: scale(1.2ms);
}
.services__card:hover {
  transform: scale(1.2);
  transition: 1s;
  cursor: pointer;
  border-radius: 15px;
}

/* footer */

.footer__container {
  background-color: #141414;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb188 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}
.footer__links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
}
.footer__links--wrapper {
  display: flex;
}
.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: initial;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}
.footer__link--items h2 {
  margin-bottom: 16px;
}
.footer__link--items > h2 {
  font-weight: bold;
  font-family: sans-serif;
  color: white;
}

.footer__link--items a {
  color: white;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer__links--items a:hover {
  color: white;
  transition: 0.3s ease-out;
}

/* Style all font awesome icons */
.social__icon--link {
  color: rgb(255, 255, 255);
}
.social__media {
  max-width: 1000px;
  width: 100%;
}
.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;

  color: white;
}
.social__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
  color: white;
}
.social__logo {
  color: white;
  justify-self: flex-start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  font-size: 2rem;
  align-items: center;
  margin-bottom: 16px;
}

.website__right {
  color: white;
  margin-bottom: 16px;
  align-items: center;
  display: flex;
  font-style: italic;
}

/* Media Queries */
@media screen and (max-width: 900px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: 50vh;
    height: 50vh;
    z-index: -1;
    background: #131313;
  }

  .navbar__menu .active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5 ease;
    z-index: 99;
    height: 50vh;
    font-size: 1.5rem;
  }
  #navbar__logo {
    padding-left: 25px;
  }
  .navbar__toggle.bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.2 ease-in-out;
    background: #fff;
  }

  .navbar__item {
    width: 100%;
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__btn {
    padding-bottom: 2rem;
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    margin: 0;
  }

  .nav__toggle.bar {
    display: block;
    cursor: pointer;
  }

  #mobil-menu.bar {
    display: block;
    cursor: pointer;
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45eg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45eg);
  }
}
